.sidemenu-container{
    display:flex;
    border-right: 2px solid grey;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width:20%;
    height:auto;
    position:sticky;
  
    color:black;
}

.sidemenu-items{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
    
}

.sidemenu-item{
    text-decoration:none;
    color:black;
}

.sidemenu-item:hover{
    color:#EC080A;
} 
